
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './custom-theme';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AutoTagClient-primary: mat-palette($mat-gray, 900, 200, 900);
$AutoTagClient-accent: mat-palette($mat-blue, 600, 400, 800);

// The warn palette is optional (defaults to red).
$AutoTagClient-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$AutoTagClient-theme: mat-dark-theme($AutoTagClient-primary, $AutoTagClient-accent, $AutoTagClient-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($AutoTagClient-theme);
@include custom-color-theme($AutoTagClient-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
