<h1 mat-dialog-title class="accent-light-color">{{project.name}}</h1>
<mat-dialog-content>
  <div class="tag-buttons-container">
    <button mat-stroked-button (click)="setTag(tag)" [style.color]="tagToColor(tag)" class="tag-button"
      *ngFor="let tag of tags">{{tag}}</button>
  </div>
  <div class="example-table-paginator-container mat-elevation-z3">
    <div class="example-table-container">
      <table mat-table [dataSource]="rows" class="example-table">

        <!-- Example name column -->
        <ng-container matColumnDef="example">
          <th mat-header-cell *matHeaderCellDef> Training examples </th>
          <td mat-cell matRipple class="example-cell" *matCellDef="let row" (click)="selectExample(row)"
            [style.color]="tagToColor(row.tag)">
            <div class="align-text-icon">
              {{row.dataName}} &nbsp;
              <mat-icon *ngIf="row.status === 'PreTagged'" fontSet="material-icons-outlined">announcement</mat-icon>
              <mat-icon *ngIf="row.status === 'Tagged'">check_circle_outline</mat-icon>
            </div>
          </td>
        </ng-container>

        <!-- Example content column -->
        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let i = index" class="content-cell" [attr.rowspan]="paginator.pageSize"
            [style.display]="i > 0 ? 'none' : ''">
            <div class="example-content">
              <h3 [style.color]="tagToColor(selectedRow.tag)">
                {{selectedRow.dataName}}: {{selectedRow.tag? selectedRow.tag : 'None'}}
              </h3>
              {{selectedRow.content}}
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSize]="5" [length]="project.numTotalRows"></mat-paginator>
  </div>
  <div class="action-buttons-container">
    <div class="align-text-icon mat-caption">
      <mat-icon class="small-icon" fontSet="material-icons-outlined">announcement</mat-icon> Pretagged, needs revision &nbsp;
      <mat-icon class="small-icon">check_circle_outline</mat-icon> Tagged
    </div>
    <div>
      <button mat-button (click)="previousExample()"> Previous </button>&nbsp;
      <button mat-button (click)="nextExample()"> Next </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>